.movie-card {
  border: 1px solid #ddd;
  padding: 10px;
  margin: 10px;
  display: inline-block;
  width: 200px;
  text-align: center;
}

.movie-list {
  display: flex;
  flex-wrap: wrap;
}

.movie-description {
  text-align: center;
  padding: 20px;
}
.movie-description iframe {
  margin-top: 20px;
}
